# Ignore node_modules folder
node_modules/

# Ignore Python virtual environment
venv/
.venv/

# Ignore log files
*.log

# Ignore build and dist folders
dist/
build/

# Ignore environment variable files
.env

# Ignore macOS specific files
.DS_Store
